body {
    font-family:sans-serif;
    font-size: 25px;
    font-style: normal;
    background-color: rgb(197, 34, 34);
}

header > h1 {
    text-align: center;
    color: black;
}

main > div {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
    color: rgb(255, 255, 255);
}

.form-container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}